@import './styles/variables';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-body;
  background-color: $color-bg-light;
  color: $color-dark-gray;
}

// .app-container {
//   .MuiBox-root {
//     display: flex;
//     flex: 1;
//   }
// }
.main-container {
  display: flex;
  height: 100%;
}