@import './styles/variables';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-body;
  background-color: $color-bg-light;
  color: $color-dark-gray;
}

/* הסגנון להדפסה – מציג רק את האזור עם id="printable-area" */
@media print {
  body * {
    visibility: hidden;
  }

  #printable-area,
  #printable-area * {
    visibility: visible;
  }

  #printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

