// דוגמא נוספת, אם תרצה:
$font-header: 'Signika', sans-serif;
$font-body:   'SF Pro', sans-serif;

// גווני כחול
$color-blue-primary:      #424E8B; // כחול בינוני
$color-blue-primary-dark: #222D72; // כחול כהה
$color-blue-primary-light:#717DBC; // כחול בהיר יותר
$color-blue-accent:       #8294F9; // כחול אקצנט

// גווני אפור / לבן
$color-gray-light:        #F8F7FC; // אפור בהיר מאוד / לבן מעונן
$color-gray-medium:       #E3E3E5; // אפור בינוני בהיר
$color-gray:              #929292; // אפור נייטרלי
$color-dark-gray:              #1b1b1b; // אפור נייטרלי

// גווני רקע קרירים
$color-bg-cream:          #FFFDEB; // קרם בהיר (לרקע או הדגשה קלה)
$color-bg-light:          #F7F7FC; // רקע אפור-לבן עדין